
<ul class="platform-card-grid mt-4 pb-4">
  <li class="platform-card">
      <a class="platform-card-inner">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/img/logo/clairdash-icon.svg" />
      </div>
        <span data-area="name" class="platform-card-name">Clairdash Cloud</span>
        <span data-area="description"class="platform-card-description">Host with Clairdash and let us manage everything for you. Quick and easy.
        </span>
      </a>
    </li>

    <li class="platform-card">
      <a class="platform-card-inner">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/integrations/infra/docker/images/logo.svg" />
      </div>
        <span data-area="name" class="platform-card-name">Docker</span>
        <span data-area="description"class="platform-card-description">Self-manage Clairdash using Docker and Docker Compose.
      </span>
      </a>
    </li>
    <li class="platform-card">
      <a class="platform-card-inner">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/integrations/infra/kubernetes/images/logo.png" />
      </div>
        <span data-area="name" class="platform-card-name">Kubernetes</span>
        <span data-area="description"class="platform-card-description">Use the Clairdash helm chart to deploy Clairdash directly into your Kubernetes cluster.

        </span>
      </a>
    </li>
    <li class="platform-card">
      <a href="/integrations" class="platform-card-inner">
        <div data-area="icon"> 
          <img class="platform-card-icon" src="/integrations/infra/digitalocean/images/logo.svg" />
      </div>
        <span data-area="name" class="platform-card-name">Digital Ocean</span>
        <span data-area="description"class="platform-card-description">The simplest way to self-host Clairdash on your own infrastructure - 1 click install.
        </span>
      </a>
    </li></ul>