<section id="home-enterprise" class="bg-bb-forestgreen space-2">
    <div class="container mx-auto text-center ">
        <svg width="20" height="25" viewBox="0 0 86 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.550781 7.29439V94.1103C0.550781 97.9209 3.62277 101 7.40677 101H45.0308C48.4148 101 51.6068 99.4001 53.6468 96.6748L84.2868 55.7228C86.5188 52.7403 86.5188 48.6403 84.2868 45.6657L53.6468 4.71378C51.6068 1.99651 48.4228 0.388672 45.0308 0.388672H7.40677C3.61477 0.388672 0.550781 3.47574 0.550781 7.2783V7.29439Z"
                fill="#ecffb5" />
        </svg>
        <h2 class="h1 mb-4 mx-auto text-center w-lg-60 w-xl-50 text-white">
            Scale with confidence
        </h2>
        <p class="hero-description mb-6 text-center w-lg-50 w-xl-40 mx-auto text-white">
            Whether you’re automating workflows, removing data silos, or cutting costs — Clairdash works for you.
        </p>
    </div>

    <div class="home-enterprise-wrapper container">
        <div class="home-enterprise-card">
            <div class="home-enterprise-card-inner">
                <div class="bg-bb-lime rounded">
                    <img class="rounded-lg"
                        src="https://res.cloudinary.com/dnum4riuz/image/upload/v1732399128/clairdash_banner_3600_1232_93_x_40_px_198_x_40_px_3600_x_1232_px_900_x_510_px_256_x_256_px_900_x_510_px_900_x_800_px_copy_wpl9uo.png"
                        alt="Clairdash Public API" />
                </div>
                <div class="flex-column mt-4">
                    <h3 class="h4 mb-2 text-white">Open-source and self-hosting</h3>
                    <p class="text-white opacity-80">Clairdash is open-source, and you can self-host via Docker or
                        Kubernetes or let Clairdash manage everything for you.</p>
                </div>
            </div>
        </div>
        <div class="home-enterprise-card">
            <div class="home-enterprise-card-inner">
                <div class="bg-bb-lime rounded">
                    <img class="rounded-lg"
                        src="https://res.cloudinary.com/dnum4riuz/image/upload/v1732399673/clairdash_banner_3600_1232_93_x_40_px_198_x_40_px_3600_x_1232_px_900_x_510_px_256_x_256_px_900_x_510_px_900_x_800_px_copy_2_llkly9.png"
                        alt="Privacy checlist" />
                </div>
                <div class="flex-column mt-4">
                    <h3 class="h4 mb-2 text-white">Enterprise-grade security</h3>
                    <p class="text-white opacity-80">Clairdash is ISO 27001 certified and fully committed to ongoing
                        compliance. </p>
                </div>
            </div>
        </div>
        <div class="home-enterprise-card">
            <div class="home-enterprise-card-inner">
                <div class="bg-bb-lime rounded">
                    <img class="rounded-lg"
                        src="https://res.cloudinary.com/dnum4riuz/image/upload/v1732399926/clairdash_banner_3600_1232_93_x_40_px_198_x_40_px_3600_x_1232_px_900_x_510_px_256_x_256_px_900_x_510_px_900_x_800_px_copy_3_rltbx3.png"
                        alt="Clairdash auth illustration">
                </div>
                <div class="flex-column mt-4">
                    <h3 class="h4 mb-2 text-white">Built to scale</h3>
                    <p class="text-white opacity-80">Custom RBAC, SSO, SAML, backups, audit logs, and additional
                        features allow you to scale with confidence. </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>