
<div class="bg-base-19">
  <div class="hero-container">
    <div class="hero-content">
    <div class="flex flex-column pb-2">
      <h1 class="hero-title-lg mb-2 w-xl-80 text-white">
        Self-serve BI to <span class="linear-wipe-light">10x your data team</span>
      </h1>
      <p class="hero-description text-left w-xl-80 text-white">
        Clairdash instantly turns your dbt project into a full stack BI platform. A powerful developer workflow lets analysts define key metrics, and enable self-serve for everyone else.
      </p>
      <div class="mb-6 mt-3">
        <a href="https://account.clairdash.app/register?utm_source=website&utm_medium=cta&utm_campaign=homepage-hero-section"
          target="_blank" rel="noopener">
          <button type="submit" class="btn btn-cta btn-xl">Request a demo</button>
        </a>
      </div>

    </div>
  </div>
  <div class="hero-media">

    <div class="mt-2">
      <img src="https://res.cloudinary.com/dnum4riuz/image/upload/v1732400877/clairdash_banner_3600_1232_93_x_40_px_198_x_40_px_3600_x_1232_px_900_x_510_px_256_x_256_px_900_x_510_px_1_copy_4_otl4w4.png" alt="main page dashboard" />
    </div>

<!--    <div class="feature-image-lg bg-orchid">-->
<!--      <dotlottie-player src="/lottie/components.lottie" speed="1" loop autoplay></dotlottie-player>-->
<!--    </div>-->


  </div>
</div>
</div>

{{ partial "logo-reel-banner.html" }}




